  /*/ *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}


.container{
    background-color: aqua;
    display: flex;
}
.header{
    background-color: blue;
    width: 100%;
    height: 23vh;
}
.section{
    width: 100%;
    height: 65vh;
}
table{
    width: 100vw;
    border: 2;
    border-radius: 12px;
}
.footer{
    width: 100%;
    height: 12vh;
    background-color: aliceblue;
}   */




body{
    margin: 0;
    height:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
    background: #fff; 
    padding-bottom: 50px;
}

footer{
  position: fixed;
  bottom: 0;
  background:#333;
  color:blanchedalmond;
 width: 100%;
  text-align: center;
  padding: 8px;
}

section{
    height: calc(100%-80px);
    overflow: auto;
}
header{
    margin-left: 10vw;
}
/*
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 8px;
}
*/

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
